
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}

h2 {
  border: 1px solid black;
  background-color: #0000ff;
  width: 90%;
  height: 150px;
  font-family: Helvetica;
  color: black;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop view **********/
@media (min-width: 992px) {
  .col-ds-1, .col-ds-2, .col-ds-3, .col-ds-4, .col-ds-5, .col-ds-6, .col-ds-7, .col-ds-8, .col-ds-9, .col-ds-10, .col-ds-11, .col-ds-12 {
    float: left;
    border: 1px solid green;
  }
  .col-ds-1 {
    width: 8.33%;
  }
  .col-ds-2 {
    width: 16.66%;
  }
  .col-ds-3 {
    width: 25%;
  }
  .col-ds-4 {
    width: 33.33%;
  }
  .col-ds-5 {
    width: 41.66%;
  }
  .col-ds-6 {
    width: 50%;
  }
  .col-ds-7 {
    width: 58.33%;
  }
  .col-ds-8 {
    width: 66.66%;
  }
  .col-ds-9 {
    width: 74.99%;
  }
  .col-ds-10 {
    width: 83.33%;
  }
  .col-ds-11 {
    width: 91.66%;
  }
  .col-ds-12 {
    width: 100%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {

 .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left;
    border: 1px solid green;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
} 

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb11, .col-mb-12 {
    float: left;
    border: 1px solid green;
  }
  .col-mb-1 {
    width: 8.33%;
  }
  .col-mb-2 {
    width: 16.66%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.33%;
  }
  .col-mb-5 {
    width: 41.66%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.33%;
  }
  .col-mb-8 {
    width: 66.66%;
  }
  .col-mb-9 {
    width: 74.99%;
  }
  .col-mb-10 {
    width: 83.33%;
  }
  .col-mb-11 {
    width: 91.66%;
  }
  .col-mb-12 {
    width: 100%;
  }
}